


.cart-tab-desc {
  transition: overflow 5s ease-in-out , max-height 5s ease-in-out;
  /* max-height 0.3s ease, opacity 0.3s ease, padding 0.3s ease; */
  opacity: 1;
  max-height: 1000px; /* large enough value */
  overflow: hidden;
  pointer-events: all;
}

.cart-tab-desc.hide {
  opacity: 0;
  max-height: 0;
  pointer-events: none;
  transition: overflow 5s ease-in-out , max-height 5s ease-in-out;
}
